<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.mapper.EnquireDetailMapper">
  <resultMap id="BaseResultMap" type="com.turing.bean.EnquireDetail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ENQUIRE_ID" jdbcType="BIGINT" property="enquireId" />
    <result column="ORDER_ID" jdbcType="BIGINT" property="orderId" />
    <result column="MATERIAL_CODE" jdbcType="VARCHAR" property="materialCode" />
    <result column="MATERIAL_NAME" jdbcType="VARCHAR" property="materialName" />
    <result column="AMOUNT" jdbcType="VARCHAR" property="amount" />
    <result column="MEASURE_UNIT" jdbcType="VARCHAR" property="measureUnit" />
    <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="STANDARD" jdbcType="VARCHAR" property="standard" />
    <result column="FACTORY" jdbcType="VARCHAR" property="factory" />
    <result column="PROD_YEAR" jdbcType="VARCHAR" property="prodYear" />
    <result column="WRAP" jdbcType="VARCHAR" property="wrap" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <association column="ENQUIRE_ID" property="enquireObj" select="selectENQUIRE" />
	<association column="ORDER_ID" property="orderObj" select="selectORDER" />
  </resultMap>
  <select id="selectENQUIRE" resultType="com.turing.bean.Enquire">
  	select * from enquire where id = #{ENQUIRE_ID}
  </select>
  <select id="selectORDER" resultType="com.turing.bean.Orders">
  	select * from orders where id = #{ORDER_ID}
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ENQUIRE_ID, ORDER_ID, MATERIAL_CODE, MATERIAL_NAME, AMOUNT, MEASURE_UNIT, START_DATE, 
    END_DATE, STANDARD, FACTORY, PROD_YEAR, WRAP, REMARK
  </sql>
  <select id="selectByExample" parameterType="com.turing.bean.EnquireDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from enquire_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause} ${sortOrder}
    </if>
    <if test="isLimit">
   		limit #{page},#{rows}
   	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enquire_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from enquire_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.turing.bean.EnquireDetailExample">
    delete from enquire_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.bean.EnquireDetail">
    insert into enquire_detail (ID, ENQUIRE_ID, ORDER_ID, 
      MATERIAL_CODE, MATERIAL_NAME, AMOUNT, 
      MEASURE_UNIT, START_DATE, END_DATE, 
      STANDARD, FACTORY, PROD_YEAR, 
      WRAP, REMARK)
    values (#{id,jdbcType=BIGINT}, #{enquireId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, 
      #{materialCode,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{measureUnit,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{standard,jdbcType=VARCHAR}, #{factory,jdbcType=VARCHAR}, #{prodYear,jdbcType=VARCHAR}, 
      #{wrap,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.turing.bean.EnquireDetail">
    insert into enquire_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="enquireId != null">
        ENQUIRE_ID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="materialCode != null">
        MATERIAL_CODE,
      </if>
      <if test="materialName != null">
        MATERIAL_NAME,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="measureUnit != null">
        MEASURE_UNIT,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="standard != null">
        STANDARD,
      </if>
      <if test="factory != null">
        FACTORY,
      </if>
      <if test="prodYear != null">
        PROD_YEAR,
      </if>
      <if test="wrap != null">
        WRAP,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enquireId != null">
        #{enquireId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="materialCode != null">
        #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="measureUnit != null">
        #{measureUnit,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="prodYear != null">
        #{prodYear,jdbcType=VARCHAR},
      </if>
      <if test="wrap != null">
        #{wrap,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.bean.EnquireDetailExample" resultType="java.lang.Long">
    select count(*) from enquire_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update enquire_detail
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.enquireId != null">
        ENQUIRE_ID = #{record.enquireId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.materialCode != null">
        MATERIAL_CODE = #{record.materialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.materialName != null">
        MATERIAL_NAME = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=VARCHAR},
      </if>
      <if test="record.measureUnit != null">
        MEASURE_UNIT = #{record.measureUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null">
        START_DATE = #{record.startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null">
        END_DATE = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.standard != null">
        STANDARD = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.factory != null">
        FACTORY = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.prodYear != null">
        PROD_YEAR = #{record.prodYear,jdbcType=VARCHAR},
      </if>
      <if test="record.wrap != null">
        WRAP = #{record.wrap,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update enquire_detail
    set ID = #{record.id,jdbcType=BIGINT},
      ENQUIRE_ID = #{record.enquireId,jdbcType=BIGINT},
      ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      MATERIAL_CODE = #{record.materialCode,jdbcType=VARCHAR},
      MATERIAL_NAME = #{record.materialName,jdbcType=VARCHAR},
      AMOUNT = #{record.amount,jdbcType=VARCHAR},
      MEASURE_UNIT = #{record.measureUnit,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=TIMESTAMP},
      END_DATE = #{record.endDate,jdbcType=TIMESTAMP},
      STANDARD = #{record.standard,jdbcType=VARCHAR},
      FACTORY = #{record.factory,jdbcType=VARCHAR},
      PROD_YEAR = #{record.prodYear,jdbcType=VARCHAR},
      WRAP = #{record.wrap,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.turing.bean.EnquireDetail">
    update enquire_detail
    <set>
      <if test="enquireId != null">
        ENQUIRE_ID = #{enquireId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="materialCode != null">
        MATERIAL_CODE = #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        MATERIAL_NAME = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="measureUnit != null">
        MEASURE_UNIT = #{measureUnit,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="standard != null">
        STANDARD = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        FACTORY = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="prodYear != null">
        PROD_YEAR = #{prodYear,jdbcType=VARCHAR},
      </if>
      <if test="wrap != null">
        WRAP = #{wrap,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.turing.bean.EnquireDetail">
    update enquire_detail
    set ENQUIRE_ID = #{enquireId,jdbcType=BIGINT},
      ORDER_ID = #{orderId,jdbcType=BIGINT},
      MATERIAL_CODE = #{materialCode,jdbcType=VARCHAR},
      MATERIAL_NAME = #{materialName,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=VARCHAR},
      MEASURE_UNIT = #{measureUnit,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      STANDARD = #{standard,jdbcType=VARCHAR},
      FACTORY = #{factory,jdbcType=VARCHAR},
      PROD_YEAR = #{prodYear,jdbcType=VARCHAR},
      WRAP = #{wrap,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>