<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.mapper.MaterialMapper">
  <resultMap id="BaseResultMap" type="com.turing.bean.Material">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MATERIAL_NUM" jdbcType="VARCHAR" property="materialNum" />
    <result column="MATERIAL_NAME" jdbcType="VARCHAR" property="materialName" />
    <result column="MATERIAL_UNIT" jdbcType="VARCHAR" property="materialUnit" />
    <result column="MATERIAL_TYPE" jdbcType="VARCHAR" property="materialType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MATERIAL_NUM, MATERIAL_NAME, MATERIAL_UNIT, MATERIAL_TYPE
  </sql>
  <select id="selectByExample" parameterType="com.turing.bean.MaterialExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause} ${sortOrder}
    </if>
    <if test="isLimit">
   		limit #{page},#{rows}
   	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from material
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from material
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.turing.bean.MaterialExample">
    delete from material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.bean.Material">
    insert into material (ID, MATERIAL_NUM, MATERIAL_NAME, 
      MATERIAL_UNIT, MATERIAL_TYPE)
    values (#{id,jdbcType=BIGINT}, #{materialNum,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, 
      #{materialUnit,jdbcType=VARCHAR}, #{materialType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.turing.bean.Material">
    insert into material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="materialNum != null">
        MATERIAL_NUM,
      </if>
      <if test="materialName != null">
        MATERIAL_NAME,
      </if>
      <if test="materialUnit != null">
        MATERIAL_UNIT,
      </if>
      <if test="materialType != null">
        MATERIAL_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="materialNum != null">
        #{materialNum,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialUnit != null">
        #{materialUnit,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        #{materialType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.bean.MaterialExample" resultType="java.lang.Long">
    select count(*) from material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update material
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.materialNum != null">
        MATERIAL_NUM = #{record.materialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.materialName != null">
        MATERIAL_NAME = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.materialUnit != null">
        MATERIAL_UNIT = #{record.materialUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.materialType != null">
        MATERIAL_TYPE = #{record.materialType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update material
    set ID = #{record.id,jdbcType=BIGINT},
      MATERIAL_NUM = #{record.materialNum,jdbcType=VARCHAR},
      MATERIAL_NAME = #{record.materialName,jdbcType=VARCHAR},
      MATERIAL_UNIT = #{record.materialUnit,jdbcType=VARCHAR},
      MATERIAL_TYPE = #{record.materialType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.turing.bean.Material">
    update material
    <set>
      <if test="materialNum != null">
        MATERIAL_NUM = #{materialNum,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        MATERIAL_NAME = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialUnit != null">
        MATERIAL_UNIT = #{materialUnit,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        MATERIAL_TYPE = #{materialType,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.turing.bean.Material">
    update material
    set MATERIAL_NUM = #{materialNum,jdbcType=VARCHAR},
      MATERIAL_NAME = #{materialName,jdbcType=VARCHAR},
      MATERIAL_UNIT = #{materialUnit,jdbcType=VARCHAR},
      MATERIAL_TYPE = #{materialType,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>