<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headQuote(title)">
    <title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="edge" />
<script src="jquery-easyui-1.6.3/jquery.min.js" charset="utf-8"></script>
<!-- easyui依赖的js -->
<script src="jquery-easyui-1.6.3/jquery.easyui.min.js" charset="utf-8"></script>
<!--引用对应的语言包 -->
<script src="jquery-easyui-1.6.3/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>
<!-- 引用图标样式 -->
<link rel="stylesheet" href="jquery-easyui-1.6.3/themes/icon.css">
<!-- 引用默认的样式 -->
<link rel="stylesheet" href="jquery-easyui-1.6.3/themes/default/easyui.css">
<style type="text/css">
	#title{
		text-align: center;
		color: blue;	
		font-size: 30px;
	}
	
</style>
</head>
<body>	
	<div th:fragment="headtitle(headInfo)">
		<div>用户：<span id="user" th:text="${session.user}"></span>   <a href="#" >注销</a> </div>
		<div id="title" th:text="${headInfo}"></div>	
	</div>
</body>
</html>